.cellContainer {
  display: table;

  width: 50%;
}
.cell {
  display: table-cell;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: cadetblue;
}

.cellSelected {
  background-color: crimson;
}

.row {
  display: table-row;
}
